
# GITIGNORE #

# JSON extensions
*.json

# RAW extensions
*.raw

# DataBase file
*.sqlite
*.db

# Folders
__pycache__/*
spotify/*
youtube-api-samples/*

# Error while installing google client libraries
ERROR

# Personal Documentation
DOCUMENTATION
