
# GITIGNORE #

# JSON extensions
*.json

# RAW extensions
*.raw

# DataBase file
*.sqlite
*.db

# PYCACHE
__pycache__/*

# Error while installing google client libraries
ERROR

# Personal Documentation
DOCUMENTATION
