
# GITIGNORE #

# JSON extensions
*.json

# RAW extensions
*.raw

# DataBase file
*.sqlite
*.db

# Text files
*.txt

# Secrets
secrets_spotify.py
secrets_youtube.json
.cache*

# Sample javascript
*.js

# Folders
__pycache__/*

# Error while installing google client libraries
ERROR

# Personal Documentation
DOCUMENTATION
ToDo
